div class='container'>
    <h3>　商品一覧　　　　　　　　　　　　　　　　　　　　　　　　　　　<%= link_to new_admin_item_path do %><i class="fas fa-plus"></i><% end %></h3><br>
    <!--<div class='row border-top border-bottom py-1 font-weight-bold'>-->
    <table class="table table-hover">
        <thead>
            <th class='col-sm-1'>
                <h4>商品ID</h4>
            </th>
            <th class='col-sm-2'>
                <h4>商品名</h4>
            </th>
            <th class='col-sm-2'>
                <h4>税抜価格</h4>
            </th>
            <th class='col-sm-2'>
                <h4>ジャンル</h4>
            </th>
            <th class='col-sm-3'>
                <h4>ステータス</h4>
            </th>
        </thead>
        <div class='jscroll'>
            <div class='row border-bottom py-1'>
                <tbody>
                    <% @items.each do |item| %>
                        <tr>
                            <td class='col-sm-1'>
                                <%= item.id %>
                            </td>
                            <td class='col-sm-2'>
                                <%= link_to admin_item_path(item) do %>
                                    <%= item.name %>
                                <% end %>
                            </td>
                            <td class='col-sm-2'>
                                <%= item.price %>
                            </td>
                            <td class='col-sm-2'>
                                <%= item.genre.name %>
                            </td>
                            <% if item.is_active? == false %>
                                <td class="text-danger">販売停止中</td>
                            <% else %>
                                <td class="text-success">販売中</td>
                            <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </div>
        </div>
    </table>
</div>