<div class='container'>
    <h3>　商品詳細</h3><br>
    <div class='row'>
        <p id="notice"></p>
        <div class="col-xl-5">
            <%= image_tag @item.image, size: '340x260' if @item.image.attached? %>
        </div>
            <div class="col-xl-7">
                <div align="center">
                    <table>
                        <tr>
                            <th><h4>商品名</h4></th>
                            <th><%= @item.name %></th>
                        </tr>
                        <tr>
                            <th><h4>商品説明</h4></th>
                            <th><%= @item.introduction %></th>
                        </tr>
                        <tr>
                            <th><h4>ジャンル</h4></th>
                            <th><%= @item.genre.name %></th>
                        </tr>
                        <tr>
                            <th><h4>税込価格(税抜価格)　　　</h4></th>
                            <th><h5><%= (@item.price*1.1).floor.to_s(:delimited) %>(<%= @item.price %>)円</h5></th>
                        </tr>
                        <tr>
                            <th><h4>販売ステータス</h4></th>
                            <% if @item.is_active? == false %>
                                <td class="text-danger">販売停止中</td>
                            <% else %>
                                <td class="text-success">販売中</td>
                            <% end %>
                        </tr>
                    </table><br>
                    <%= link_to '編集する', edit_admin_item_path(@item.id), class: "btn btn-lg btn-outline-success edit_item_#{@item.id}" %>
                </div>
            </div>
        </div>
    </div>
</div>