  <div class="container">
    <div class="row">
      <div class="col m-10">
        <p id="notice"></p><h2>会員情報編集</h2>
        <%= form_with model: @member, url: admin_member_path(@member) do |f| %>
          <table class="row table">
            <tr>
              <th><%= f.label :名前 %></th>
              <th><%= f.text_field :name, class:"form-control" %></th>
              <th></th>
              </td>
            </tr>
            <tr>
              <th><%= f.label :ニックネーム %></th>
              <th><%= f.text_field :nickname, class:"form-control" %></th>
              <th></th>
            </tr>
            <tr>
              <th><%= f.label :電話番号 %></th>
              <td><%= f.text_field :telephone_number, class:"form-control" %></td>
              <th></th>
            </tr>
            <tr>
              <th><%= f.label :メールアドレス %></th>
              <td><%= f.text_field :email , class:"form-control"%></td>
              <th></th>
            </tr>
            <tr>
              <th><%= f.label :会員ステータス %></th>
              <td><%= f.radio_button :is_deleted, false %>
                  <%= f.label :is_deleted, '有効会員', value: false %>
              </td>
               <td><%= f.radio_button :is_deleted, true %>
                  <%= f.label :is_deleted, '退会済み', value: true %>
              </td>
            </tr>
          </table>
        <div class="row text-right">
          <%= f.submit "変更を保存する" ,class: "btn btn-outline-success " %>
        </div>
      <% end %>
    </div>
  </div>
</div>