<div class="container">
  <div class="row">
    <div class="col m-10">
      <h2 class="text-black"><%= @member.name %>さんの会員詳細</h2>
      <table class="table table-borderless" style="opacity: 0.8;">
        <tbody>
          <tr>
            <th>会員ID</th>
            <td><%= @member.id %></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td><%= @member.name %></td>
          </tr>
          <tr>
            <th>ニックネーム</th>
            <td><%= @member.nickname %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @member.telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @member.email %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <% if @member.is_deleted? == true %>
    	        <td class="text-danger">退会</td>
				    <% else %>
				      <td class="text-success">有効</td>
				    <% end %>
          </tr>

        </tbody>
      </table>
      <div class="text-center mb-3">
        <div class="d-inline-block mr-5">
          <%= link_to '編集する', edit_admin_member_path, class:"btn btn-outline-success" %>
        </div>
        <div class="d-inline-block ml-5">
          <%= link_to '会員一覧に戻る',admin_members_path, class:"btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>