<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-12">
      <p id="notice"></p>
      <div class=text-center>
        <h1><strong><%= @member.name %>さんのマイページ</strong></h1>
        <div class="row">
          <div class="col-md-3">
            <table class="table table-borderless">
              <tr class="table-primary">
                <h3><strong>登録情報　</strong>
                <% if @member == current_member %>
                  <%= link_to edit_public_member_path(current_member) do %><i class="fas fa-edit"></i><% end %>
                <% end %></h3>
              </tr>
              <tr>
                <th scope="row">ニックネーム</th>
                <td><%= @member.nickname %></td>
              </tr>
              <tr>
                <th scope="row">電話番号</th>
                <td><%= @member.telephone_number %></td>
              </tr>
              <tr>
                <th scope="row">メールアドレス</th>
                <td><%= @member.email %></td>
              </tr>
            </table>
          </div>
          <div class="col-md-3 offset-md-1">
            <%= link_to public_members_myteam_path(member_id: @member.id) do %>
              <%= image_tag ("VBicon2.png"),{class: "iine_image"} %>
              <span>マイチーム</span>
            <% end %>
          </div>
          <div class="col-md-3 offset-md-1">
            <%= link_to favorites_public_member_path(@member) do %>
              <%= image_tag ("いいね大会.jpg"),{class: "iine_image"} %>
              <span>いいねした大会</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>