<div class='container-fluid'>
  <div class='row'>
    <div class="team_sidebar col-2 d-flex justify-content-center">
      <%= render 'public/teams/sidebar', team: @team %>
    </div>
    <div class="col-10">
      <h1 class="title d-flex justify-content-center m-4"><%= @team.name %><span></span></h1>
      <!--<table class="table table-bordereress">-->
      <!--  <tr>-->
      <!--    <th>チーム説明</th>-->
      <!--    <td><%#= @team.overview %></td>-->
      <!--  </tr>-->
      <!--  <tr>-->
      <!--    <th>地域</th>-->
      <!--    <td><%#= @team.prefecture.name %></td>-->
      <!--  </tr>-->
      <!--  <tr>-->
      <!--    <th>カテゴリ</th>-->
      <!--    <td><%#= @team.category.name %></td>-->
      <!--  </tr>-->
      <!--  <tr>-->
      <!--  <tr>-->
      <!--    <th>実績</th>-->
      <!--    <th><%#= @team.achievement %></th>-->
      <!--  </tr>-->
      <!--  <tr>-->
      <!--    <th>代表者連絡先</th>-->
      <!--    <td><%#= @team.contact_address %></td>-->
      <!--  </tr>-->
      <!--  <tr>-->
      <!--    <th></th>-->
      <!--    <td><%#= @team.entry_field %></td>-->
      <!--  </tr>-->
      <!--</table>-->
      <div class='team_image d-flex justify-content-center' >
        <%= image_tag @team.image, {class: "team_page"}  %>
      </div>
      <div class='team_main border-left border-rigft border-dimgray' >
        <h3>概要</h3>
      </div>

      <div class='row'>
        <div class='team_group col-6 m-2'>
          <% if @team.owner == current_member %>
            <%= link_to 'Edit', edit_public_team_path(@team), class: "btn btn-sm btn-success" %>
          <% elsif @team.members.include?(current_member) %>
            <%= link_to '脱退する', public_team_path(@team), method: :delete, class: "btn btn-sm btn-danger" %>
          <% else %>
            <%= link_to 'チームに参加する', public_team_join_path(@team), class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
        <div class='comment col-6 m-2'>
          <p>コメント件数：<%= @team.team_comments.count %></p>
                <% @team.team_comments.each do |comment| %>
                  <p>
                    <%= comment.member.nickname %>
                    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.introduction %>
                    <% if comment.member = current_member %>
                      <%= link_to '削除',  public_team_team_comment_path(comment.team,comment), data: {confirm: '本当に削除しますか？'}, method: :delete %>
                    <% end %>
                  </p>
                <% end %>
            </div>
            <div class="col-md-6 offset-md my-5">
                <%= form_with url: public_team_team_comments_path(@team) do |f| %>
                <%= f.text_area :introduction, rows: '5', placeholder: "コメントをここに" %>
                <%= f.submit "投稿" %>
                <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>