<div class='container-fluid'>
  <div class='row'>
    <div class="col-12">
      <h1 class="title d-flex justify-content-center m-4"><%= @team.name %><span></span></h1>
      <% if @team.image.attached? %>
        <div class='team_image d-flex justify-content-center' >
          <%= image_tag @team.image, {class: "team_page"}  %>
        </div>
      <% else %>
        <div class='team_image d-flex justify-content-center' >
          <%= image_tag 'VBicon3.png', {class: "team_page"} %>
        </div>
      <% end %>
      <div class='teams_show p-5' >
        <div class='team_main p-3' >
          <div class='team_content_title d-flex justify-content-center' ><h3>概要</h3></div>
          <div class='team_content d-flex justify-content-center p-1'><%= @team.overview %></div>
        </div>
        <div class='team_main p-3' >
          <div class='team_content_title d-flex justify-content-center' ><h3>地域</h3></div>
          <div class='team_content d-flex justify-content-center p-1'><%= @team.prefecture.name %></div>
        </div>
        <div class='team_main p-3' >
          <div class='team_content_title d-flex justify-content-center' ><h3>カテゴリー</h3></div>
          <div class='team_content d-flex justify-content-center p-1'><%= @team.category.name %></div>
        </div>
        <div class='team_main p-3' >
          <div class='team_content_title d-flex justify-content-center' ><h3>実績</h3></div>
          <div class='team_content d-flex justify-content-center p-1'><%= @team.achievement %></div>
        </div>
        <div class='team_main p-3' >
          <div class='team_content_title d-flex justify-content-center' ><h3>代表者連絡先</h3></div>
          <div class='team_content d-flex justify-content-center p-1'><%= @team.contact_address %></div>
        </div>
        <div class='team_group d-flex justify-content-center m-4'>
          <% if @team.owner == current_member %>
            <%= link_to 'Edit', edit_public_team_path(@team), class: "btn btn-sm btn-success" %>
          <% elsif @team.members.include?(current_member) %>
            <%= link_to '脱退する', public_team_path(@team), method: :delete, class: "btn btn-sm btn-danger" %>
          <% else %>
            <%= link_to 'チームに参加する', public_team_join_path(@team), class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
        <div class='comment d-flex justify-content-center m-4'>
          <p>コメント件数：<%= @team.team_comments.count %></p>
          <% @team.team_comments.each do |comment| %>
            <p>
              <%= comment.member.nickname %>
              <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.introduction %>
              <% if comment.member = current_member %>
                <%= link_to '削除',  public_team_team_comment_path(comment.team,comment), data: {confirm: '本当に削除しますか？'}, method: :delete %>
              <% end %>
            </p>
          <% end %>
        </div>
        <div class="m-5">
          <%= form_with url: public_team_team_comments_path(@team) do |f| %>
          <%= f.text_area :introduction, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "投稿" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>