<div class='container'>
    <h3>　チーム一覧</h3><br>
    <!--<div class='row border-top border-bottom py-1 font-weight-bold'>-->
    <table class="table table-hover">
        <thead>
            <th class='col-sm-1'>
                <h4>チームID</h4>
            </th>
            <th class='col-sm-2'>
                <h4>チーム名</h4>
            </th>
            <th class='col-sm-2'>
                <h4>都道府県</h4>
            </th>
            <th class='col-sm-2'>
                <h4>カテゴリー</h4>
            </th>
            <th class='col-sm-3'>
                <h4>代表者連絡先</h4>
            </th>
        </thead>
        <div class='jscroll'>
            <div class='row border-bottom py-1'>
                <tbody>
                    <% @teams.each do |team| %>
                        <tr>
                            <td class='col-sm-1'>
                                <%= team.id %>
                            </td>
                            <td class='col-sm-2'>
                                <%= link_to admin_team_path(team) do %>
                                    <%= team.name %>
                                <% end %>
                            </td>
                            <td class='col-sm-2'>
                                <%= team.prefecture.name %>
                            </td>
                            <td class='col-sm-2'>
                                <%= team.category.name %>
                            </td>
                            <td>
                                <%= team.contact_address %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </div>
        </div>
    </table>
</div>