<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <div class="container">
      <a class="" href="/"><%= image_tag "VBicon1.png", size: "100x100" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if member_signed_in? %>
            <li>
              <%= link_to public_member_path(current_member),class: 'nav-link text-light' do %>
                <i class="fas fa-home"></i> マイページ
              <% end %>
            </li>
            <li>
              <%=  link_to public_teams_path,class: 'nav-link text-light' do %>
                <i class="fas fa-users"></i> チームを探す
              <%end %>
            </li>
            <li>
              <%=  link_to public_tournaments_path,class: 'nav-link text-light' do %>
                <i class="fas fa-trophy"></i> 大会一覧
              <% end %>
            </li>
            <li>
              <%= link_to destroy_member_session_path, method: :delete,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> logout
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to admin_root_path,class: 'nav-link text-light' do %>
                <i class="fas fa-home"></i> Adminm
              <% end %>
            </li>
            <li>
              <%= link_to destroy_member_session_path, method: :delete,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> logout
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to public_members_guest_sign_in_path, method: :post,class: 'nav-link text-light' do %>
                <i class="fas fa-home"></i> ゲストログイン
              <% end %>
            </li>
            <li>
              <%= link_to root_path,class: 'nav-link text-light' do %>
                <i class="fas fa-home"></i> トップページ
              <% end %>
            </li>

            <li>
              <%= link_to new_member_registration_path,class: 'nav-link text-light' do %>
                <i class="fas fa-user-plus"></i> sign up
              <% end %>
            </li>
            <li>
              <%= link_to new_member_session_path ,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i> login
              <% end %>
            </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>