<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>VB_Likers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if member_signed_in? %>
          <li>
            <%= link_to public_member_path(current_member),class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> マイページ
            <% end %>
          </li>
          <!--<li>-->
            <%#=  link_to public_team_path ,class: 'nav-link text-light' do %>
          <!--    <i class="fas fa-book-open"></i> マイチーム-->
          <!--  <%# end %>-->
          <!--</li>-->
          <li>
            <%=  link_to public_tournaments_path,class: 'nav-link text-light' do %>
              <i class="fas fa-users"></i> 大会一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_member_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> logout
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class='col-md-3'>
    <!--</div>-->
    <!--<div class="col-md-8">-->
    <!--      <%#= render 'searchs/searching' %>-->
    <!--</div>-->
  </div>

        <% else %>
          <li>
            <%= link_to root_path,class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> トップページ
            <% end %>
          </li>
          <li>
            <%= link_to public_about_path,class: 'nav-link text-light' do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to new_member_registration_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_member_session_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> login
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>